<table class="table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Car</th>
        <th scope="col">Rent date</th>
        <th scope="col">Return date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentals">
        <td>{{rental.rentalId}}</td>
        <td>{{rental.customerName}}</td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
      </tr>
    </tbody>
  </table>
