<table class="table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Car</th>
        <th scope="col">Brand</th>
        <th scope="col">Color</th>
        <th scope="col">Daily price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars">
        <td>{{car.carId}}</td>
        <td>{{car.carName}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.dailyPrice}}</td>
      </tr>
    </tbody>
  </table>
